/* Nav.css */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  nav a:hover {
    color: #ffce45;
  }
  